div[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

div[data-reach-alert-dialog][data-react-alert-dialog-overlay='true'] {
  z-index: 1;
}

div[data-reach-dialog-content] {
  position: relative;
  padding-top: var(--space-lg);
}

div[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: #fff;
  padding: var(--space-md);
  outline: none;
}

div[data-reach-alert-dialog-label] {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 150%;
  text-align: center;
}

div[data-reach-alert-dialog-description] {
  margin: var(--space-lg) 0;
  line-height: var(--paragraph-line-height);
}

.alert-buttons {
  text-align: center;
}
